

<footer class=" text-center">
<div class="col-sm-12 social">
  <a href=""><i class="fa fa-facebook"></i> </a>
  <a href=""><i class="fa fa-google-plus"></i></a>
  <a href=""> <i class="fa fa-twitter"></i></a>
</div>

  <div class="col-sm-12 copywrite">
    <h6>© WeBuyGoods Inc. 2015</h6>
  </div>
</footer>