
<% meta title: "Sell Electronics NYC | Electronics Buyers",
        description:"Sell Your Electronics In NYC. NYC Buyers.Sell iPhone, iPad,
         iPod, MacBook, iMac, Samsung, Canon, Nikon, X Box, Play Station.",
        keywords: %w(iPhone iPod iPhone_6 iPhone_5 iPad Retina iPads iPhones MacBook MacBooks iMacs iMac Samsung Galaxy Tablet PlayStation)
%>

  <div class="col-sm-12 mainh">
    <h1>Number One Electronic Items Buyer in NYC</h1>
  </div>


<hr/>
<div class="container">
<div class="row">
<div class="col-sm-4 infobox">
  <div class="insideinfo text-center">
    <i class="glyphicon glyphicon-forward"></i> <br/>
    The most faster way to sell your electronic items in all NYC areas.
  </div>
</div>
<div class="col-sm-4 infobox">
  <div class="insideinfo text-center">
    <i class="glyphicon glyphicon-usd"></i> <br/>
    Top dollar paid for all electronic items. We always pay more.
  </div>
</div>
<div class="col-sm-4 infobox">
  <div class="insideinfo text-center">
    <i class="glyphicon glyphicon-user"></i> <br/>
    The most safety way to sell your electronic items in New York City.
  </div>
</div>
</div>
</div>

  <div class="container">
    <div class="row">
      <div class="infobox col-sm-12">
        <div class="insideinfo supertext">
          <p>
          Selling electronics in New York   has never been so easy. You can call us right now or come
          to our spots in Queens or Manhattan and get top dollar for your items.  We buy all Apple Products (iPhone, iPad, iMac, MacBook,
          Apple Watche, MacPro, Apple TV), Nikon, Canon, other cameras, X-Box One, Play Station 4, other Phones and Tablets.</p>
        </div>
      </div>
    </div>
  </div>




