


  <div class="col-sm-12 mainh">
    <h1>Number One Electronic Items Buyer in NYC</h1>
  </div>


<hr/>
<div class="container">
<div class="row">
<div class="col-sm-4 infobox">
  <div class="insideinfo text-center">
    <i class="glyphicon glyphicon-forward"></i> <br/>
    The most faster way to sell your electronic items in all NYC areas.
  </div>
</div>
<div class="col-sm-4 infobox">
  <div class="insideinfo text-center">
    <i class="glyphicon glyphicon-usd"></i> <br/>
    Top dollar paid for all electronic items. We always pay more.
  </div>
</div>
<div class="col-sm-4 infobox">
  <div class="insideinfo text-center">
    <i class="glyphicon glyphicon-user"></i> <br/>
    The most safety way to sell your electronic items in New York City.
  </div>
</div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="infobox col-sm-12">
      <div class="insideinfo wedont">
        We don't purchase any lost or stolen items.
        Please make sure to have identification and to be over the age of 18.
      </div>
    </div>
  </div>
</div>