
  <div class="col-sm-12 mainh">
    <h1>How It Works?!</h1>
  </div>


<hr/>
<div class="main">

  <div class="container">
    <div class="row">
      <div class="infobox col-sm-12">
        <div class="insideinfo">
          <h2>Sell Your Items Online</h2>
          <p>You can fill out online form, attache some pictures, and as soon as we will find a deal for you,
          we will send you an email or call. The most easy and fast way to sell your items with out risks and strange, dangerous people.
          </p>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="infobox col-sm-12">
        <div class="insideinfo">
          <h2>Sell Electronics That You Do Not Use Anymore.</h2>
          <p>You just get your new iPhone, iPad or Samsung, but what to do with old device?
            It will quickly loose value and become thing of the past. Sell it to us and get your
            fast cash on the spot.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="infobox col-sm-12">
        <div class="insideinfo">
          <h2>The Most Safety Way To Sell Electronics In NYC</h2>
          <p>We have to perfect locations for you. One in Manhattan and one in Queens. Just bring your devices
            and get fast cash. You dont need to arrange meetings with strangers in strange places, we are here for you.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="infobox col-sm-12">
        <div class="insideinfo">
          <h2>The Most Safety Way To Sell Electronics In NYC</h2>
          <p>We have to perfect locations for you. One in Manhattan and one in Queens. Just bring your devices
            and get fast cash. You dont need to arrange meetings with strangers in strange places, we are here for you.</p>
          </div>
        </div>
    </div>
  </div>




</div>